@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #EF6161;
  padding-top: 50px;
}

/* nav */

nav {
  position: fixed;
  top: 20px;
  left: 10px;
  z-index: 10;
}

nav a {
  font-size: 25px;
  text-decoration: none;
  color: #fafafa;
  padding: 10px 15px;
  background-color: rgba(0,0,0,.1);
}

nav a:hover {
  background-color: #fafafa;
  color: #444;
}

/* heading */

h1 {
  margin: 20px auto 30px;
  width: 300px;
  padding: 20px;
  text-align: center;
  background-color: #FAFAFA;
  box-shadow: 6px 6px rgba(0,0,0,.25);
  color: #444;
  z-index: 5;
  position: relative;
  opacity: 0.9;
}

/* portrait */

.img {
  width: 300px;
  margin: 0 auto 20px;
  position: relative;
  z-index: 5;
}

.img img {
  width: 100%;
}

/* info */

p {
  position: relative;
  z-index: 6;
  color: white;
  padding: 0 30px;
  margin-bottom: 10px;
  text-align: center;
}

/* shapes */

.shape-container {
  position: fixed;
  width: 100%;
  top: 0;
}

.circle {
  background-color: #E4B363;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 300px;
  opacity: .9;

  animation-name: circle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.square {
  background-color: #6198EF;
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 1;
  left: 30%;
  top: 80px;
  transform: rotate(70deg);
  opacity: .9;

  animation-name: square;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.triangle {
  height: 0;
  width: 0;
  border-left: 150px solid #5669AE;
  border-right: 150px solid transparent;
  border-top: 150px solid transparent;
  border-bottom: 150px solid transparent;
  position: absolute;
  z-index: 4;
  left: 15%;
  top: 400px;
  transform: rotate(80deg);
  opacity: .9;

  animation-name: triangle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.rectangle {
  background-color: #EFC761;
  width: 400px;
  height: 50px;
  position: absolute;
  z-index: 4;
  left: 60%;
  top: 200px;
  transform: rotate(90deg);
  opacity: .9;

  animation-name: rectangle;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes circle {
  50% {
    top: 310px;
  }
}

@keyframes square {
  50% {
    top: 90px;
  }
}

@keyframes triangle {
  50% {
    top: 410px;
  }
}

@keyframes rectangle {
  50% {
    top: 210px;
  }
}

/* media queries */

/* 320 - 480 */
@media (max-width: 480px) {
  .square {
    width: 200px;
    height: 200px;
    left: 25%;
  }

  .circle {
    left: 10%;
  }

  .rectangle {
    left: 25%;
  }

  .triangle {
    left: -10%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .rectangle {
    left: 50%;
  }

  .triangle {
    left: 10%;
  }

  .circle {
    left: 10%;
  }

  .square {
    left: 20%;
  }
}
